<p>
  Hello and welcome. <br />
  This API is built up of the following: Users and Posts. <br />
  You can query users on "/users" and posts on "/posts"<br />
  can also get posts belonging to a user by using "/users/[id]/posts"<br />
  Enjoy and have fun!
</p>
<% if (!user) { %>
<a href="/login">Click here to log in</a>
<% } else { %>
<p>
  Hello there, <%= user.displayName ?? 'User' %> <br /><br />
  <a href="/profile">Click here to see your profile</a>. <% } %>
</p>
